Repository phaneendragummadi/aca-devops: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/package-pipeline.yaml, pipelines/package-app.yml, pipelines/package-pipeline.yaml

Path conditions:
  Pipelines/package-pipeline.yaml: any of: deploy
  pipelines/package-app.yml: any of: src/Application/DevOps.App
  pipelines/package-pipeline.yaml: any of: deploy

end situation
  pipelines/deploy-pipeline.yaml
  pipelines/package-pipeline.yaml
Due: none

dev environment
  pipelines/deploy-pipeline.yaml
Due: none

demo infrastructure deployment
  .gitignore
  Pipelines/deploy-pipeline.yaml
Due: none

lab solution
  Pipelines/deploy-pipeline.yaml
Due: none

-lab solution deploy pipeline
  Pipelines/deploy-pipeline.yaml
Due: none

Delete Pipelines directory
  Pipelines/deploy-pipeline.yaml
  Pipelines/package-pipeline.yaml
  Pipelines/templates/deploy-arm-template.yaml
  Pipelines/variables/apps/app-dev.yaml
  Pipelines/variables/apps/app-shared.yaml
  Pipelines/variables/environments/environment-dev.yaml
  Pipelines/variables/environments/environment-shared.yaml
  Pipelines/variables/release-information.yaml
Due: none

renamed folder to pipelines
  pipelines/deploy-pipeline.yaml
  pipelines/package-pipeline.yaml
  pipelines/templates/deploy-arm-template.yaml
  pipelines/variables/apps/app-dev.yaml
  pipelines/variables/apps/app-shared.yaml
  pipelines/variables/environments/environment-dev.yaml
  pipelines/variables/environments/environment-shared.yaml
  pipelines/variables/release-information.yaml
Due: none

-demo solution yaml pipelines
  pipelines/deploy-pipeline.yaml
  pipelines/package-pipeline.yaml
  pipelines/templates/deploy-arm-template.yaml
  pipelines/variables/apps/app-dev.yaml
  pipelines/variables/apps/app-shared.yaml
  pipelines/variables/environments/environment-dev.yaml
  pipelines/variables/environments/environment-shared.yaml
  pipelines/variables/release-information.yaml
Due: none

demo task for SDK
  pipelines/package-pipeline.yaml
Due: none

demo task install SDK 3.1.x
  pipelines/package-pipeline.yaml
Due: none

demo task forunit tests
  pipelines/package-pipeline.yaml
Due: none

-converted web api to .NET 6.0
  deploy/azure-infrastructure.json
  deploy/azure-infrastructure.parameters.json
  pipelines/deploy-pipeline.yaml
  pipelines/package-pipeline.yaml
  pipelines/templates/deploy-arm-template.yaml
  pipelines/variables/apps/app-dev.yaml
  pipelines/variables/apps/app-shared.yaml
  pipelines/variables/environments/environment-dev.yaml
  pipelines/variables/environments/environment-shared.yaml
  pipelines/variables/release-information.yaml
  src/Application/DevOps.App.sln
  src/Application/DevOps.App/Configuration/ConfigurationProvider.cs
  src/Application/DevOps.App/Controllers/EncryptionController.cs
  src/Application/DevOps.App/Controllers/KeyVaultController.cs
  src/Application/DevOps.App/Controllers/WeatherForecastController.cs
  src/Application/DevOps.App/DevOps.App.csproj
  src/Application/DevOps.App/Interfaces/IKeyVaultManager.cs
  src/Application/DevOps.App/Models/EncryptionEntity.cs
  src/Application/DevOps.App/Models/Encryptor.cs
  src/Application/DevOps.App/Models/KeyVaultManager.cs
  src/Application/DevOps.App/Program.cs
  src/Application/DevOps.App/Properties/launchSettings.json
  src/Application/DevOps.App/Repositories/EncryptedTableStorageRepository.cs
  src/Application/DevOps.App/Repositories/TableStorageRepository.cs
  src/Application/DevOps.App/Startup.cs
  src/Application/DevOps.App/WeatherForecast.cs
  src/Application/DevOps.App/appsettings.Development.json
  src/Application/DevOps.App/appsettings.json
  src/Application/DevOps.Resources/Deployment.targets
  src/Application/DevOps.Resources/DevOps.Resources.deployproj
  src/Application/DevOps.Resources/Scripts/Deploy-AzureResourceGroup.ps1
Due: Pipelines/package-pipeline.yaml, pipelines/package-app.yml, pipelines/package-pipeline.yaml

-updates arm templates and web api code for .net 6.0
  deploy/azure-infrastructure.json
  deploy/azure-infrastructure.parameters.json
  deploy/webapi.json
  deploy/webapi.parameters.json
  src/Application/DevOps.App/Controllers/EncryptionController.cs
  src/Application/DevOps.App/DevOps.App.csproj
  src/Application/DevOps.App/Startup.cs
Due: Pipelines/package-pipeline.yaml, pipelines/package-app.yml, pipelines/package-pipeline.yaml

changed ksu of app service plan from F1 to D1
  deploy/azure-infrastructure.json
  deploy/keyvault.json
  deploy/keyvault.parameters.json
  deploy/scripts/SetKeyVaultAccessPolicies.ps1
  deploy/scripts/net6-underconstruction.ps1
  deploy/webapinet6.json
  deploy/webapinet6.parameters.json
  pipelines/variables/apps/app-shared.yaml
  src/Application/DevOps.App/appsettings.Development.json
  src/Application/DevOps.App/appsettings.json
Due: Pipelines/package-pipeline.yaml, pipelines/package-app.yml, pipelines/package-pipeline.yaml

- changed sku app svc
  .gitignore
  arm-templates-samples/infra-apim-consumption.json
  arm-templates-samples/infra-apim-consumption.parameters.json
  arm-templates-samples/infra-apim.json
  arm-templates-samples/infra-apim.parameters.json
  arm-templates-samples/infra-applicationInsights.json
  arm-templates-samples/infra-applicationInsights.parameters.json
  arm-templates-samples/infra-containerRegistry.json
  arm-templates-samples/infra-containerRegistry.parameters.json
  arm-templates-samples/infra-cosmosDb-database.json
  arm-templates-samples/infra-cosmosDb-database.parameters.json
  arm-templates-samples/infra-cosmosDb.json
  arm-templates-samples/infra-cosmosDb.parameters.json
  arm-templates-samples/infra-datafactory.json
  arm-templates-samples/infra-datafactory.parameters.json
  arm-templates-samples/infra-datalake.json
  arm-templates-samples/infra-datalake.parameters.json
  arm-templates-samples/infra-integrationAccount.json
  arm-templates-samples/infra-integrationAccount.parameters.json
  arm-templates-samples/infra-keyVault.json
  arm-templates-samples/infra-keyVault.parameters.json
  arm-templates-samples/infra-monitoring-actionGroup.json
  arm-templates-samples/infra-monitoring-actionGroup.parameters.json
  arm-templates-samples/infra-monitoring-alerts-logicApp.json
  arm-templates-samples/infra-monitoring-alerts-logicApp.parameters.json
  arm-templates-samples/infra-oms.json
  arm-templates-samples/infra-oms.parameters.json
  arm-templates-samples/infra-onPremiseDataGateway-vmName.json
  arm-templates-samples/infra-onPremiseDataGateway-vmName.parameters.json
  arm-templates-samples/infra-servicebus-topic-subscription.json
  arm-templates-samples/infra-servicebus-topic-subscription.parameters.json
  arm-templates-samples/infra-sql-database-transco.json
  arm-templates-samples/infra-sql-database-transco.parameters.json
  arm-templates-samples/infra-sql-server.json
  arm-templates-samples/infra-sql-server.parameters.json
  arm-templates-samples/infra-storageAccount.json
  arm-templates-samples/infra-storageAccount.parameters.json
  deploy/azure-infrastructure.json
Due: Pipelines/package-pipeline.yaml, pipelines/package-pipeline.yaml

adapt default values infra arm template
  .gitignore
  deploy/azure-infrastructure.json
Due: Pipelines/package-pipeline.yaml, pipelines/package-pipeline.yaml

change included branch in build pipeline
  pipelines/package-pipeline.yaml
Due: none

added include path
  pipelines/package-pipeline.yaml
Due: none

removed arm infra unused variables & allowedvalues
  deploy/azure-infrastructure.json
Due: Pipelines/package-pipeline.yaml, pipelines/package-pipeline.yaml

change yaml variable AppSvcPlan.SkuName
  pipelines/variables/apps/app-shared.yaml
Due: none

-added infra bicep demo
  deploy/scripts/bicep/azure-infrastructure.bicep
Due: Pipelines/package-pipeline.yaml, pipelines/package-pipeline.yaml

replace deprecated providers function added properties and depencendy updated bicep demo
  deploy/azure-infrastructure.json
  deploy/scripts/bicep/azure-infrastructure.bicep
Due: Pipelines/package-pipeline.yaml, pipelines/package-pipeline.yaml

replaced storage account connection string setting
  deploy/azure-infrastructure.json
  deploy/scripts/bicep/azure-infrastructure.bicep
Due: Pipelines/package-pipeline.yaml, pipelines/package-pipeline.yaml

init net6 arm infra, web api & pipelines
  deploy/azure-infrastructure.json
  deploy/bicep/azure-infrastructure.bicep
  pipelines/package-pipeline.yaml
  pipelines/templates/deploy-arm-template.yaml
  pipelines/variables/apps/app-shared.yaml
  src/Application/DevOps.App.sln
  src/Application/DevOps.App/appsettings.Development.json
  src/Application/DevOps.App/appsettings.json
Due: Pipelines/package-pipeline.yaml, pipelines/package-app.yml, pipelines/package-pipeline.yaml

added varables to package pipeline
  pipelines/package-pipeline.yaml
Due: none

-added archive task to package pipeline
  pipelines/package-pipeline.yaml
Due: none

-added test setting
  src/Application/DevOps.App/appsettings.json
Due: pipelines/package-app.yml

Arcus .Net 6 demo
  deploy/azure-pipelines-arcusapi-cicd.yml
  deploy/azuredeploy-arcusapi.json
  src/Application/Arcus.Demo.WebAPI/Arcus.Demo.WebAPI.Open-Api.xml
  src/Application/Arcus.Demo.WebAPI/Arcus.Demo.WebAPI.csproj
  src/Application/Arcus.Demo.WebAPI/Arcus.Demo.WebAPI.sln
  src/Application/Arcus.Demo.WebAPI/Controllers/ConfigValuesController.cs
  src/Application/Arcus.Demo.WebAPI/Controllers/HealthController.cs
  src/Application/Arcus.Demo.WebAPI/Dockerfile
  src/Application/Arcus.Demo.WebAPI/ExampleProviders/HealthReportResponseExampleProvider.cs
  src/Application/Arcus.Demo.WebAPI/Models/ApiHealthReport.cs
  src/Application/Arcus.Demo.WebAPI/Models/ApiHealthReportEntry.cs
  src/Application/Arcus.Demo.WebAPI/Program.cs
  src/Application/Arcus.Demo.WebAPI/appsettings.json
Due: Pipelines/package-pipeline.yaml, pipelines/package-pipeline.yaml

updated serviceconnection
  deploy/azure-pipelines-arcusapi-cicd.yml
Due: Pipelines/package-pipeline.yaml, pipelines/package-pipeline.yaml

changed copyfiles task
  deploy/azure-pipelines-arcusapi-cicd.yml
Due: Pipelines/package-pipeline.yaml, pipelines/package-pipeline.yaml

updated AzureResourceManagerTemplateDeployment sc location
  deploy/azure-pipelines-arcusapi-cicd.yml
Due: Pipelines/package-pipeline.yaml, pipelines/package-pipeline.yaml

correct keyvault name
  deploy/azuredeploy-arcusapi.json
Due: Pipelines/package-pipeline.yaml, pipelines/package-pipeline.yaml

-Added Arcus Demo in .Net 6
  .gitignore
  src/Application/Arcus.Demo.WebAPI/Arcus.Demo.WebAPI.Open-Api.xml
  src/Application/Arcus.Demo.WebAPI/Arcus.Demo.WebAPI.csproj
  src/Application/Arcus.Demo.WebAPI/Arcus.Demo.WebAPI.sln
  src/Application/Arcus.Demo.WebAPI/Controllers/ConfigValuesController.cs
  src/Application/Arcus.Demo.WebAPI/Controllers/HealthController.cs
  src/Application/Arcus.Demo.WebAPI/Controllers/KeyVaultController.cs
  src/Application/Arcus.Demo.WebAPI/Dockerfile
  src/Application/Arcus.Demo.WebAPI/ExampleProviders/HealthReportResponseExampleProvider.cs
  src/Application/Arcus.Demo.WebAPI/Models/ApiHealthReport.cs
  src/Application/Arcus.Demo.WebAPI/Models/ApiHealthReportEntry.cs
  src/Application/Arcus.Demo.WebAPI/Program.cs
  src/Application/Arcus.Demo.WebAPI/Properties/ServiceDependencies/ArcusDemoWebAPI - Zip Deploy/profile.arm.json
  src/Application/Arcus.Demo.WebAPI/Properties/ServiceDependencies/ArcusDemoWebAPI - Zip Deploy/secrets1.arm.json
  src/Application/Arcus.Demo.WebAPI/Properties/ServiceDependencies/ArcusDemoWebAPI - Zip Deploy/storage1.arm.json
  src/Application/Arcus.Demo.WebAPI/Properties/ServiceDependencies/ArcusDemoWebAPI20220317120151 - Zip Deploy/profile.arm.json
  src/Application/Arcus.Demo.WebAPI/Properties/ServiceDependencies/ArcusDemoWebAPI20220317132222 - Web Deploy/profile.arm.json
  src/Application/Arcus.Demo.WebAPI/Properties/ServiceDependencies/arcuswebapi - Web Deploy/profile.arm.json
  src/Application/Arcus.Demo.WebAPI/Properties/ServiceDependencies/dev-we-devops-app - Zip Deploy/profile.arm.json
  src/Application/Arcus.Demo.WebAPI/Properties/ServiceDependencies/dev-we-devops-app - Zip Deploy1/profile.arm.json
  src/Application/Arcus.Demo.WebAPI/Properties/ServiceDependencies/dev-we-devops-app - Zip Deploy1/secrets1.arm.json
  src/Application/Arcus.Demo.WebAPI/Properties/ServiceDependencies/dev-we-devops-app - Zip Deploy1/storage1.arm.json
  src/Application/Arcus.Demo.WebAPI/Properties/ServiceDependencies/webApp-n7hf6fq3y7kc6 - Zip Deploy/profile.arm.json
  src/Application/Arcus.Demo.WebAPI/Properties/ServiceDependencies/webApp-n7hf6fq3y7kc6 - Zip Deploy/secrets1.arm.json
  src/Application/Arcus.Demo.WebAPI/Properties/ServiceDependencies/webApp-n7hf6fq3y7kc6 - Zip Deploy/storage1.arm.json
  src/Application/Arcus.Demo.WebAPI/Properties/launchSettings.json
  src/Application/Arcus.Demo.WebAPI/appsettings.Development.json
  src/Application/Arcus.Demo.WebAPI/appsettings.json
Due: none

- added arcus demo arm and yaml
  deploy/azuredeploy-arcusapi.json
  pipelines/demo-pipelines-arcusapi-cicd.yml
Due: Pipelines/package-pipeline.yaml, pipelines/package-pipeline.yaml

- added arm templates and yaml pipeline samples
  .gitignore
  deploy/azuredeploy-sample-webapi.json
  deploy/azuredeploy-sample-webapp.json
  pipelines/azure-pipelines-sample-webapi-cicd.yml
  pipelines/azure-pipelines-sample-webapp-cicd.yml
Due: Pipelines/package-pipeline.yaml, pipelines/package-pipeline.yaml

- yaml task display names updates - correct key vault name
  deploy/azuredeploy-sample-webapi.json
  pipelines/azure-pipelines-sample-webapi-cicd.yml
  pipelines/azure-pipelines-sample-webapp-cicd.yml
  pipelines/demo-pipelines-arcusapi-cicd.yml
Due: Pipelines/package-pipeline.yaml, pipelines/package-pipeline.yaml

updated gitignore
  .gitignore
Due: none

-upgraded app to .Net Core 3.1
  .gitignore
  src/Application/DevOps.App.sln
  src/Application/DevOps.App/DevOps.App.csproj
  src/Application/DevOps.App/Models/EncryptionEntity.cs
  src/Application/DevOps.App/Program.cs
  src/Application/DevOps.App/Properties/launchSettings.json
  src/Application/DevOps.App/Startup.cs
  src/Application/DevOps.App/appsettings.Development.json
  src/Infrastructure/DevOps.Infra.sln
Due: pipelines/package-app.yml

Renamed arm templates default values
  src/Application/DevOps.App/Startup.cs
  src/Infrastructure/DevOps.Infra/Templates/Defaults/app-service-plan.parameters.json
  src/Infrastructure/DevOps.Infra/Templates/Defaults/app-service.json
  src/Infrastructure/DevOps.Infra/Templates/Defaults/app-service.parameters.json
  src/Infrastructure/DevOps.Infra/Templates/Defaults/key-vault.parameters.json
  src/Infrastructure/DevOps.Infra/Templates/Defaults/storage.parameters.json
  src/Infrastructure/DevOps.Infra/Templates/app-service-plan.json
  src/Infrastructure/DevOps.Infra/Templates/app-service-plan.parameters.local.json
  src/Infrastructure/DevOps.Infra/Templates/app-service.json
  src/Infrastructure/DevOps.Infra/Templates/app-service.parameters.local.json
  src/Infrastructure/DevOps.Infra/Templates/key-vault.json
  src/Infrastructure/DevOps.Infra/Templates/key-vault.parameters.local.json
  src/Infrastructure/DevOps.Infra/Templates/storage.json
  src/Infrastructure/DevOps.Infra/Templates/storage.parameters.local.json
Due: pipelines/package-app.yml
