Repository phaneendragummadi/aca-devops: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/package-app.yml, pipelines/package-pipeline.yaml

Path conditions:
  pipelines/package-app.yml: any of: src/Application/DevOps.App
  pipelines/package-pipeline.yaml: any of: deploy

put debug tasks in comments
  pipelines/package-pipeline.yaml
Due: none

added comments
  pipelines/package-pipeline.yaml
Due: none

set kind serverfarms empty
  deploy/azure-infrastructure.json
Due: pipelines/package-pipeline.yaml

changed vmpool to ubuntu-latest
  build/build-and-test-project.yml
  build/package-azure-infrastructure.yml
  pipelines/deploy-pipeline.yaml
  pipelines/package-app.yml
  pipelines/package-pipeline.yaml
  pipelines/templates/build-and-test-project.yml
  pipelines/templates/testkeyvaultreadwrite.yaml
Due: none

Added VmImage variable
  .gitignore
  build/build-and-test-project.yml
  build/package-azure-infrastructure.yml
  deploy/azure-infrastructure.json
  deploy/variables/environments/environment-shared.yaml
  pipelines/deploy-pipeline.yaml
  pipelines/package-app.yml
  pipelines/package-pipeline.yaml
  pipelines/templates/build-and-test-project.yml
Due: pipelines/package-pipeline.yaml

correct variable
  pipelines/deploy-pipeline.yaml
  pipelines/package-pipeline.yaml
Due: none

Update package-pipeline.yaml for Azure Pipelines
  pipelines/package-pipeline.yaml
Due: none

pool var
  deploy/variables/environments/environment-shared.yaml
  pipelines/package-pipeline.yaml
Due: pipelines/package-pipeline.yaml

add variable for pool pipelines
  pipelines/deploy-pipeline.yaml
Due: none

correct syntax arm template
  deploy/azure-infrastructure.json
Due: pipelines/package-pipeline.yaml

Change value of AppSvcPlan.SkuName
  deploy/app-service-plan.json
  deploy/variables/apps/app-shared.yaml
Due: pipelines/package-pipeline.yaml

change variable name app svc plan and kind
  deploy/app-service-plan.json
  deploy/azure-infrastructure.json
Due: pipelines/package-pipeline.yaml

Limit appPlan sku allowedvalues
  deploy/azure-infrastructure.json
Due: pipelines/package-pipeline.yaml

added kind of web api
  deploy/azure-infrastructure.json
Due: pipelines/package-pipeline.yaml

cleanup
  build/build-and-test-project.yml
  build/package-azure-infrastructure.yml
  deploy/app-service-plan.json
  deploy/app-service-plan.parameters.json
  deploy/app-service-with-plan.json
  deploy/app-service-with-plan.parameters.json
  deploy/app-service.json
  deploy/app-service.parameters.json
  deploy/armtemplate.json
  deploy/armtemplate.parameters.json
  deploy/azure-infrastructure.json
  deploy/key-vault.json
  deploy/key-vault.parameters.json
  deploy/sql.json
  deploy/sql.parameters.json
  deploy/storage-with-blob-table.json
  deploy/storage-with-blob-table.parameters.json
  deploy/storage.json
  deploy/storage.parameters.json
  deploy/variables/apps/app-shared.yaml
  pipelines/DevOps.App/build-template.yml
  pipelines/DevOps.App/pipeline.yml
  pipelines/DevOps.App/release-template-steps.yml
  pipelines/DevOps.App/release-template.yml
  pipelines/DevOps.Infra/build-template.yml
  pipelines/DevOps.Infra/pipeline.yml
  pipelines/DevOps.Infra/release-template-steps.yml
  pipelines/DevOps.Infra/release-template.yml
  pipelines/DevOps.Infra/yaml-pipeline.Infra.yml
  pipelines/deploy-pipeline.yaml
  pipelines/package-app.yml
  pipelines/package-pipeline.yaml
  pipelines/templates/build-and-test-project.yml
  pipelines/templates/deploy-arm-template.yaml
  pipelines/templates/testkeyvaultreadwrite.yaml
  pipelines/test-pipeline.yaml
  src/Application/DevOps.App.sln
  src/Application/DevOps.App/DevOps.App.csproj
  src/Application/DevOps.App/Properties/launchSettings.json
  src/Application/DevOps.App/appsettings.json
Due: pipelines/package-app.yml, pipelines/package-pipeline.yaml

Removed debug info Change service connection to TrainingSP
  deploy/variables/environments/environment-shared.yaml
  pipelines/deploy-pipeline.yaml
  pipelines/templates/deploy-arm-template.yaml
Due: pipelines/package-pipeline.yaml

remove arm output
  pipelines/templates/deploy-arm-template.yaml
Due: none

cleanup code comments
  src/Application/DevOps.App/Models/Encryptor.cs
  src/Application/DevOps.App/Program.cs
  src/Application/DevOps.App/Startup.cs
Due: pipelines/package-app.yml

change appsettings for security
  src/Application/DevOps.App/appsettings.json
  src/Test/DevOps.App.Tests/EntryptorUnitTests.cs
Due: pipelines/package-app.yml

remove connection strings
  .gitignore
  azure-pipelines.yml
  deploy/scripts/AzureDevops-WriteArmOutputsToVariableGroup.ps1
  src/Application/DevOps.App/appsettings.Development.json
  src/Application/DevOps.App/appsettings.json
Due: pipelines/package-app.yml, pipelines/package-pipeline.yaml

added tokens and placeholders for security
  src/Application/DevOps.App/appsettings.json
  src/Test/DevOps.App.Tests/EntryptorUnitTests.cs
Due: pipelines/package-app.yml

Added placeholders for settings
  .gitignore
  src/Application/DevOps.App/appsettings.Development.json
  src/Application/DevOps.App/appsettings.json
Due: pipelines/package-app.yml

Updated variable name Azure.ServiceConnection.Name to 'TrainingAccountSP'
  deploy/variables/environments/environment-shared.yaml
Due: pipelines/package-pipeline.yaml

Test Resource Group for testing
  pipelines/deploy-pipeline.yaml
Due: none

Test in Training resource group arm-introduction-dev
  deploy/variables/apps/app-shared.yaml
Due: pipelines/package-pipeline.yaml

Validate json files
  pipelines/package-pipeline.yaml
Due: none

Install Node.js and JSONLint
  pipelines/package-pipeline.yaml
Due: none

Validate Syntax JSON file(s) task
  pipelines/package-pipeline.yaml
Due: none

Adapted settings
  src/Application/DevOps.App/DevOps.App.csproj
  src/Application/DevOps.App/Properties/launchSettings.json
  src/Application/DevOps.App/appsettings.json
Due: pipelines/package-app.yml

Set key vault acess policy for web app and adapt keyvault setting name
  deploy/azure-infrastructure.json
  src/Application/DevOps.App/DevOps.App.csproj
  src/Application/DevOps.App/Startup.cs
Due: pipelines/package-app.yml, pipelines/package-pipeline.yaml

Change appsettings file lab
  .gitignore
  src/Application/DevOps.App/appsettings.json
Due: pipelines/package-app.yml

Updated .gitignore
  .gitignore
Due: none

Key Vault policy access update
  deploy/azure-infrastructure.json
Due: pipelines/package-pipeline.yaml

Templatize setting files
  src/Application/DevOps.App/appsettings.Development.json
  src/Application/DevOps.App/appsettings.json
Due: pipelines/package-app.yml

arm template: added CURRENT_STACK and dotnetcore config settings to web app added code to get connectionstring from azure config settings
  deploy/azure-infrastructure.json
  src/Application/DevOps.App/DevOps.App.csproj
  src/Application/DevOps.App/Startup.cs
Due: pipelines/package-app.yml, pipelines/package-pipeline.yaml

test connection string
  .gitignore
  src/Application/DevOps.App/Program.cs
  src/Application/DevOps.App/Repositories/EncryptedTableStorageRepository.cs
  src/Application/DevOps.App/Startup.cs
Due: pipelines/package-app.yml

test lab part 1
  Pipelines/deploy-pipeline.yaml
  Pipelines/package-pipeline.yaml
  Pipelines/templates/deploy-arm-template.yaml
  Pipelines/variables/apps/app-dev.yaml
  Pipelines/variables/apps/app-shared.yaml
  Pipelines/variables/environments/environment-dev.yaml
  Pipelines/variables/environments/environment-shared.yaml
  Pipelines/variables/release-information.yaml
  deploy/azure-infrastructure.json
  deploy/azure-infrastructure.parameters.json
Due: pipelines/package-pipeline.yaml

corrected yaml typo
  Pipelines/deploy-pipeline.yaml
Due: none
