Repository phaneendragummadi/aca-devops: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/package-pipeline.yaml, pipelines/package-app.yml, pipelines/package-pipeline.yaml

Path conditions:
  Pipelines/package-pipeline.yaml: any of: deploy
  pipelines/package-app.yml: any of: src/Application/DevOps.App
  pipelines/package-pipeline.yaml: any of: deploy, src

updated app name
  src/MyLogicApps/Templates/LogicApp.json
  src/MyLogicApps/Templates/LogicApp.parameters.json
Due: pipelines/package-pipeline.yaml

lab logic app updates
  src/MyLogicApps/Templates/LogicApp.json
  src/MyLogicApps/Templates/LogicApp.parameters.json
Due: pipelines/package-pipeline.yaml

correct param file name
  src/MyLogicApps/Templates/LogicApp.parameters.json
Due: pipelines/package-pipeline.yaml

aca-devops-lab1-CICD
  azure-pipelines.yml
Due: none

lab 1 solution update
  pipelines/MyLogicApp/pipeline.yml
  src/MyLogicApp/Templates/LogicApp.json
  src/MyLogicApp/Templates/LogicApp.parameters.json
Due: pipelines/package-pipeline.yaml

corrected artifact location
  pipelines/MyLogicApp/pipeline.yml
Due: none

Update pipeline.yml for Azure Pipelines
  pipelines/MyLogicApp/pipeline.yml
Due: none

updated lab solution yaml
  pipelines/MyLogicApp/pipeline.yml
  src/MyLogicApp/Templates/LogicApp.json
  src/MyLogicApp/Templates/LogicApp.parameters.json
Due: pipelines/package-pipeline.yaml

change lab folder name
  src/MyLogicApp/Templates/LogicApp.json
  src/MyLogicApp/Templates/LogicApp.parameters.json
Due: pipelines/package-pipeline.yaml

changed folder lab
  src/MyLogicApps/Templates/LogicApp.json
  src/MyLogicApps/Templates/LogicApp.parameters.json
Due: pipelines/package-pipeline.yaml

updated trigger branch
  pipelines/MyLogicApp/pipeline.yml
Due: none

changed to incremental deployment
  pipelines/MyLogicApp/pipeline.yml
Due: none

changed to incremental update
  pipelines/MyLogicApp/pipeline.yml
Due: none

updated key vault name param
  deploy/azure-infrastructure.parameters.json
Due: Pipelines/package-pipeline.yaml, pipelines/package-pipeline.yaml

setup lab dbo
  pipelines/deploy-pipeline.yaml
  pipelines/package-pipeline.yaml
  pipelines/variables/apps/app-shared.yaml
Due: none

updated variables
  pipelines/variables/apps/app-shared.yaml
Due: none

updated source pipeline name
  pipelines/deploy-pipeline.yaml
Due: none

upgrade apiversion app service
  deploy/azure-infrastructure.json
  src/Application/DevOps.App/DevOps.App.csproj
  src/Application/DevOps.App/Program.cs
Due: Pipelines/package-pipeline.yaml, pipelines/package-app.yml, pipelines/package-pipeline.yaml

lab dbo setup
  src/Application/DevOps.App/Program.cs
Due: pipelines/package-app.yml, pipelines/package-pipeline.yaml

setup lab ake
  src/Application/DevOps.App/Program.cs
Due: pipelines/package-app.yml, pipelines/package-pipeline.yaml

setup lab psr
  src/Application/DevOps.App/Program.cs
Due: pipelines/package-app.yml, pipelines/package-pipeline.yaml

setup lab pgu
  src/Application/DevOps.App/Program.cs
Due: pipelines/package-app.yml, pipelines/package-pipeline.yaml

updated parameters
  pipelines/deploy-pipeline.yaml
  pipelines/package-pipeline.yaml
  pipelines/variables/apps/app-shared.yaml
Due: none

dbo demo net6
  src/Application/DevOps.App/DevOps.App.csproj
  src/Application/DevOps.App/Program.cs
  src/Application/DevOps.App/appsettings.json
Due: pipelines/package-app.yml, pipelines/package-pipeline.yaml

first demo
  azure-pipelines.yml
Due: none

exercise 1
  azure-pipelines.yml
Due: none

include lab branch
  azure-pipelines.yml
Due: none

move starter pipeline
  azure-pipelines.yml
  src/azure-pipelines.yml
Due: pipelines/package-pipeline.yaml

move starter
  src/azure-pipelines.yml
Due: pipelines/package-pipeline.yaml

updated the name of logic app default param to mylogicapp-dbo
  src/MyLogicApp/Templates/LogicApp.json
Due: pipelines/package-pipeline.yaml

updated param name logic app to mylogicapp-dbo
  src/MyLogicApp/Templates/LogicApp.parameters.json
Due: pipelines/package-pipeline.yaml

My first Azure pipeline for dbo
  azure-pipelines.yml
Due: none

put trigger of pipeline to none (manual run pipeline only)
  azure-pipelines.yml
Due: none
