Repository phaneendragummadi/aca-devops: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/package-pipeline.yaml, pipelines/package-app.yml, pipelines/package-pipeline.yaml

Path conditions:
  Pipelines/package-pipeline.yaml: any of: deploy
  pipelines/package-app.yml: any of: src/Application/DevOps.App
  pipelines/package-pipeline.yaml: any of: deploy, src

added demos and samples
  deploy/azure-infrastructure.parameters.json
  deploy/azuredeploy-arcusapi.json
  deploy/azuredeploy-sample-webapi.json
  deploy/azuredeploy-sample-webapp.json
  pipelines/azure-pipelines-sample-webapi-cicd.yml
  pipelines/azure-pipelines-sample-webapp-cicd.yml
  pipelines/demo-pipelines-arcusapi-cicd.yml
Due: Pipelines/package-pipeline.yaml, pipelines/package-pipeline.yaml

added best practice solution
  .gitignore
  deploy/api-containerized.json
  deploy/api-containerized.parameters.json
  deploy/azure-infrastructure.json
  deploy/variables/api.json
  deploy/variables/api.parameters.json
  deploy/variables/apps/app-shared.yaml
Due: Pipelines/package-pipeline.yaml, pipelines/package-pipeline.yaml

upgraded storage connectionstring
  deploy/azure-infrastructure.json
  deploy/variables/api.json
Due: Pipelines/package-pipeline.yaml, pipelines/package-pipeline.yaml

changed default sku appsvc to S1
  deploy/azure-infrastructure.json
Due: Pipelines/package-pipeline.yaml, pipelines/package-pipeline.yaml

added different platform pipeline versions
  deploy/azure-infrastructure-linux.json
  deploy/azure-infrastructure-linux.parameters.json
  pipelines/deploy-pipeline-linux.yaml
  pipelines/deploy-pipeline-win.yaml
  pipelines/package-pipeline-linux.yaml
  pipelines/package-pipeline-win.yaml
  pipelines/templates/deploy-arm-template-linux.yaml
Due: Pipelines/package-pipeline.yaml, pipelines/package-pipeline.yaml

correct name
  pipelines/package-pipeline-linux.yaml
Due: none

adapted references for linux
  pipelines/package-pipeline-linux.yaml
Due: none

added variables
  deploy/api.json
  deploy/api.parameters.json
  deploy/variables/api.json
  deploy/variables/api.parameters.json
  deploy/variables/apps/app-acc.yaml
  deploy/variables/apps/app-dev.yaml
  deploy/variables/apps/app-prd.yaml
  deploy/variables/apps/app-shared.yaml
  deploy/variables/apps/app-tst.yaml
  deploy/variables/environments/environment-acc.yaml
  deploy/variables/environments/environment-dev.yaml
  deploy/variables/environments/environment-prd.yaml
  deploy/variables/environments/environment-shared.yaml
  deploy/variables/environments/environment-tst.yaml
  deploy/variables/release-information.yaml
Due: Pipelines/package-pipeline.yaml, pipelines/package-pipeline.yaml

added reference to linux yaml
  pipelines/deploy-pipeline-linux.yaml
Due: none

added DotnetVersion var
  deploy/variables/apps/app-shared.yaml
Due: Pipelines/package-pipeline.yaml, pipelines/package-pipeline.yaml

changed keyvault resource group ref
  deploy/azure-infrastructure-linux.parameters.json
Due: Pipelines/package-pipeline.yaml, pipelines/package-pipeline.yaml

updated param names
  deploy/azure-infrastructure-linux.json
  deploy/azure-infrastructure-linux.parameters.json
  deploy/variables/api.json
  src/Application/DevOps.Resources/Templates/app-service.json
Due: Pipelines/package-pipeline.yaml, pipelines/package-pipeline.yaml

updated default value Keyvault_SkuName
  deploy/azure-infrastructure-linux.json
  deploy/variables/apps/app-shared.yaml
Due: Pipelines/package-pipeline.yaml, pipelines/package-pipeline.yaml

updated resource group var name
  deploy/variables/apps/app-shared.yaml
Due: Pipelines/package-pipeline.yaml, pipelines/package-pipeline.yaml

updated prefix name
  deploy/variables/apps/app-shared.yaml
Due: Pipelines/package-pipeline.yaml, pipelines/package-pipeline.yaml

-upgraded to netcore31
  .gitignore
  src/Application/DevOps.App.sln
  src/Application/DevOps.App/DevOps.App.csproj
  src/Application/DevOps.App/Models/EncryptionEntity.cs
  src/Application/DevOps.App/Program.cs
  src/Application/DevOps.App/Properties/launchSettings.json
  src/Application/DevOps.App/Startup.cs
  src/Application/DevOps.App/appsettings.json
  src/Application/DevOps.Resources/Templates/app-service.json
Due: pipelines/package-app.yml, pipelines/package-pipeline.yaml

Set up CI with Azure Pipelines
  azure-pipelines.yml
Due: none

added sql arm & pipeline
  deploy/sql-deploy.json
  deploy/sql-deploy.parameters.json
  pipelines/azure-pipelines-sample-sql-cicd.yml
Due: Pipelines/package-pipeline.yaml, pipelines/package-pipeline.yaml

- cleaned sql arm templates
  deploy/sql-deploy.json
  deploy/sql-deploy.parameters.json
Due: Pipelines/package-pipeline.yaml, pipelines/package-pipeline.yaml

-changed sql firewall rules
  deploy/sql-deploy.json
Due: Pipelines/package-pipeline.yaml, pipelines/package-pipeline.yaml

added sql script
  deploy/scripts/PopulateSqlDb.sql
Due: Pipelines/package-pipeline.yaml, pipelines/package-pipeline.yaml

Update azure-pipelines-sample-sql-cicd.yml for Azure Pipelines
  pipelines/azure-pipelines-sample-sql-cicd.yml
Due: none

added separate job for sql
  pipelines/azure-pipelines-sample-sql-cicd.yml
Due: none

windows infra arm template example
  deploy/azure-infrastructure-windows.json
  deploy/azure-infrastructure-windows.parameters.json
  src/Application/DevOps.App/Startup.cs
Due: Pipelines/package-pipeline.yaml, pipelines/package-app.yml, pipelines/package-pipeline.yaml

start of lab yaml best practice
  .gitignore
  deploy/azure-infrastructure.json
  deploy/azure-infrastructure.parameters.json
  deploy/keyvault.json
  deploy/keyvault.parameters.json
  deploy/scripts/Azure-RemoveOldArmDeployments.ps1
  deploy/scripts/AzureDevops-WriteArmOutputsToVariableGroup.ps1
  deploy/scripts/bicep/azure-infrastructure.bicep
  deploy/scripts/net6-underconstruction.ps1
  deploy/webapinet6.json
  deploy/webapinet6.parameters.json
  pipelines/deploy-pipeline.yaml
  pipelines/package-pipeline.yaml
  pipelines/templates/deploy-arm-template.yaml
  pipelines/variables/apps/app-dev.yaml
  pipelines/variables/apps/app-shared.yaml
  pipelines/variables/environments/environment-dev.yaml
  pipelines/variables/environments/environment-shared.yaml
Due: Pipelines/package-pipeline.yaml, pipelines/package-pipeline.yaml

removed development json
  src/Application/DevOps.App/appsettings.Development.json
Due: pipelines/package-app.yml, pipelines/package-pipeline.yaml

devops lab yaml best practice solution
  src/Application/DevOps.App/Configuration/ConfigurationProvider.cs
  src/Application/DevOps.App/Encryption/Encryptor.cs
  src/Application/DevOps.App/Models/EncryptionEntity.cs
  src/Application/DevOps.App/Repositories/TableStorageRepository.cs
  src/Infrastructure/DevOps.Infra/Templates/Defaults/app-service.json
  src/Infrastructure/DevOps.Infra/Templates/Defaults/app-service.parameters.json
  src/Infrastructure/DevOps.Infra/Templates/app-service.json
  src/Infrastructure/DevOps.Infra/Templates/app-service.parameters.json
  src/Infrastructure/DevOps.Infra/Templates/app-service.parameters.local.json
Due: pipelines/package-app.yml, pipelines/package-pipeline.yaml

changed source
  pipelines/package-pipeline.yaml
Due: none

added unit test example to yaml pipeline
  pipelines/package-pipeline.yaml
Due: none

-upgrades to newer versions
  src/Application/DevOps.Resources/Templates/app-service (2).json
  src/Application/DevOps.Resources/Templates/app-service.parameters.json
  src/Infrastructure/DevOps.Infra/DevOps.Infra.deployproj
  src/Test/DevOps.App.Tests/EntryptorUnitTests.cs
Due: pipelines/package-pipeline.yaml

- unit tests CI task
  pipelines/package-pipeline.yaml
Due: none

upgraded code to .Net 6, latest version of Arcus and arm templates
  deploy/azure-infrastructure-win.json
  deploy/azure-infrastructure-win.local.parameters.json
  deploy/azure-infrastructure-win.parameters.json
  deploy/variables/apps/app-shared.yaml
  pipelines/deploy-pipeline-win.yaml
  pipelines/package-pipeline-win.yaml
  pipelines/templates/deploy-arm-template-win.yaml
  src/Application/DevOps.App/Configuration/ConfigurationProvider.cs
  src/Application/DevOps.App/Controllers/EncryptionController.cs
  src/Application/DevOps.App/Controllers/HealthController.cs
  src/Application/DevOps.App/Controllers/KeyVaultController.cs
  src/Application/DevOps.App/DevOps.App.Open-Api.xml
  src/Application/DevOps.App/DevOps.App.csproj
  src/Application/DevOps.App/ExampleProviders/HealthReportResponseExampleProvider.cs
  src/Application/DevOps.App/Interfaces/IKeyVaultManager.cs
  src/Application/DevOps.App/Models/ApiHealthReport.cs
  src/Application/DevOps.App/Models/ApiHealthReportEntry.cs
  src/Application/DevOps.App/Models/EncryptionEntity.cs
  src/Application/DevOps.App/Models/Encryptor.cs
  src/Application/DevOps.App/Models/KeyVaultManager.cs
  src/Application/DevOps.App/Program.cs
  src/Application/DevOps.App/Properties/launchSettings.json
  src/Application/DevOps.App/Repositories/EncryptedTableStorageRepository.cs
  src/Application/DevOps.App/Repositories/TableStorageRepository.cs
  src/Application/DevOps.App/Startup.cs
  src/Application/DevOps.App/appsettings.json
Due: Pipelines/package-pipeline.yaml, pipelines/package-app.yml, pipelines/package-pipeline.yaml

updated lab logic app solution
  deploy/logicapp.json
  deploy/logicapp.parameters.json
Due: Pipelines/package-pipeline.yaml, pipelines/package-pipeline.yaml

updated source logic app lab
  src/MyLogicApps/Templates/LogicApp.json
  src/MyLogicApps/Templates/LogicApp.parametersjson
Due: pipelines/package-pipeline.yaml

updated logic apps lab solution
  src/MyLogicApps/Templates/LogicApp.json
  src/MyLogicApps/Templates/LogicApp.parameters.json
Due: pipelines/package-pipeline.yaml

updated default name param
  src/MyLogicApps/Templates/LogicApp.json
  src/MyLogicApps/Templates/LogicApp.parametersjson
Due: pipelines/package-pipeline.yaml

updated default param name
  src/MyLogicApps/Templates/LogicApp.json
  src/MyLogicApps/Templates/LogicApp.parameters.json
Due: pipelines/package-pipeline.yaml
