Repository phaneendragummadi/aca-devops: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/package-pipeline.yaml, pipelines/package-app.yml, pipelines/package-pipeline.yaml

Path conditions:
  Pipelines/package-pipeline.yaml: any of: deploy
  pipelines/package-app.yml: any of: src/Application/DevOps.App
  pipelines/package-pipeline.yaml: any of: deploy

Change environment name
  Pipelines/deploy-pipeline.yaml
Due: none

Update lab arm infrastructure
  Pipelines/templates/deploy-arm-template.yaml
  deploy/azure-infrastructure.json
  deploy/azure-infrastructure.parameters.json
Due: Pipelines/package-pipeline.yaml, pipelines/package-pipeline.yaml

Set Api.Name default value shorter
  Pipelines/variables/apps/app-shared.yaml
Due: none

- set vmImage to ubuntu-latest - validation json files
  Pipelines/deploy-pipeline.yaml
  Pipelines/package-pipeline.yaml
Due: none

Devops: azure-infrastructure arm template - changed to linux
  .gitignore
  deploy/azure-infrastructure.json
Due: Pipelines/package-pipeline.yaml, pipelines/package-pipeline.yaml

-set linuxFxVersion
  Pipelines/package-pipeline.yaml
  Pipelines/variables/apps/app-shared.yaml
  deploy/azure-infrastructure.json
  deploy/azure-infrastructure.parameters.json
Due: Pipelines/package-pipeline.yaml, pipelines/package-pipeline.yaml

-correct package-pipeline
  Pipelines/package-pipeline.yaml
Due: none

- set property reserved on true in serverfarms
  Pipelines/variables/apps/app-shared.yaml
  deploy/azure-infrastructure.json
Due: Pipelines/package-pipeline.yaml, pipelines/package-pipeline.yaml

Added DotNetCore tasks
  Pipelines/package-pipeline.yaml
Due: none

set variables for DotNetCore
  Pipelines/package-pipeline.yaml
Due: none

Added 'Deploy Web App' task to template of deploy-pipeline
  Pipelines/templates/deploy-arm-template.yaml
Due: none

- Added project setting
  src/Application/DevOps.App/DevOps.App.csproj
Due: pipelines/package-app.yml

-Adapt deploy app task
  Pipelines/templates/deploy-arm-template.yaml
Due: none

- cleanup files
  src/Application/DevOps.Resources/Templates/Defaults/app-service.json
  src/Application/DevOps.Resources/Templates/Defaults/app-service.parameters.json
  src/Application/DevOps.Resources/Templates/app-service.json
  src/Application/DevOps.Resources/Templates/app-service.parameters.json
  src/Application/DevOps.Resources/Templates/app-service.parameters.local.json
Due: none

- start arm templates for best-practice yaml lab
  deploy/azure-infrastructure.json
  deploy/azure-infrastructure.parameters.json
Due: Pipelines/package-pipeline.yaml, pipelines/package-pipeline.yaml

-Test lab branch
  pipelines/deploy-pipeline.yaml
  pipelines/package-pipeline.yaml
  pipelines/templates/deploy-arm-template.yaml
  pipelines/variables/apps/app-dev.yaml
  pipelines/variables/apps/app-shared.yaml
  pipelines/variables/environments/environment-dev.yaml
  pipelines/variables/environments/environment-shared.yaml
  pipelines/variables/release-information.yaml
Due: none

-lab test 2
  pipelines/variables/environments/environment-shared.yaml
Due: none

- lab test 2
  pipelines/deploy-pipeline.yaml
Due: none

- set Dotnetversion variable 3.1
  pipelines/variables/apps/app-shared.yaml
Due: none

- correct arm template name in deploy-arm-template
  pipelines/templates/deploy-arm-template.yaml
Due: none

DotNetCore build changed arguments
  Pipelines/package-pipeline.yaml
Due: none

Upgraded to dotnetcore 3.1
  Pipelines/variables/apps/app-shared.yaml
  src/Application/DevOps.App.sln
  src/Application/DevOps.App/Configuration/ConfigurationProvider.cs
  src/Application/DevOps.App/Controllers/EncryptionController.cs
  src/Application/DevOps.App/Controllers/KeyVaultController.cs
  src/Application/DevOps.App/DevOps.App.csproj
  src/Application/DevOps.App/Interfaces/IKeyVaultManager.cs
  src/Application/DevOps.App/Models/EncryptionEntity.cs
  src/Application/DevOps.App/Models/Encryptor.cs
  src/Application/DevOps.App/Models/KeyVaultManager.cs
  src/Application/DevOps.App/Program.cs
  src/Application/DevOps.App/Properties/launchSettings.json
  src/Application/DevOps.App/Repositories/EncryptedTableStorageRepository.cs
  src/Application/DevOps.App/Repositories/TableStorageRepository.cs
  src/Application/DevOps.App/Startup.cs
  src/Application/DevOps.App/appsettings.Development.json
  src/Application/DevOps.App/appsettings.json
  src/Application/DevOps.Resources/Templates/app-service.json
  src/Application/DevOps.Resources/Templates/app-service.parameters.json
  src/Application/DevOps.Resources/Templates/app-service.parameters.local.json
  src/Infrastructure/DevOps.Infra/Templates/Defaults/key-vault.parameters.json
  src/Infrastructure/DevOps.Infra/Templates/app-service-plan.json
  src/Infrastructure/DevOps.Infra/Templates/app-service-plan.parameters.json
  src/Infrastructure/DevOps.Infra/Templates/app-service-plan.parameters.local.json
  src/Infrastructure/DevOps.Infra/Templates/key-vault.json
  src/Infrastructure/DevOps.Infra/Templates/key-vault.parameters.json
  src/Infrastructure/DevOps.Infra/Templates/key-vault.parameters.local.json
  src/Infrastructure/DevOps.Infra/Templates/storage.json
  src/Infrastructure/DevOps.Infra/Templates/storage.parameters.json
  src/Infrastructure/DevOps.Infra/Templates/storage.parameters.local.json
  src/Test/DevOps.App.Tests/DevOps.App.Tests.csproj
  src/Test/DevOps.App.Tests/EntryptorUnitTests.cs
Due: pipelines/package-app.yml

change restore & Build DotnetCoreCLI tasks in package-pipeline
  Pipelines/package-pipeline.yaml
Due: none

- specified apptype in AzureRmWebAppDeployment@4
  Pipelines/templates/deploy-arm-template.yaml
Due: none

-added tasks to install sdk and for tests
  Pipelines/package-pipeline.yaml
  Pipelines/templates/deploy-arm-template.yaml
  deploy/azure-infrastructure.json
Due: Pipelines/package-pipeline.yaml, pipelines/package-pipeline.yaml

-add restore packages for solution
  Pipelines/package-pipeline.yaml
Due: none

Added parameter for version of sdk
  Pipelines/package-pipeline.yaml
Due: none

Added shared variable $(Api.SDK)
  Pipelines/variables/apps/app-shared.yaml
Due: none

- dotnetcore app 3.1 upgrade
  Pipelines/package-pipeline.yaml
  src/Application/DevOps.App/DevOps.App.csproj
  src/Application/DevOps.App/Program.cs
  src/Application/DevOps.App/Properties/launchSettings.json
  src/Application/DevOps.App/Repositories/EncryptedTableStorageRepository.cs
  src/Application/DevOps.App/Startup.cs
Due: pipelines/package-app.yml

-Added version variable
  Pipelines/package-pipeline.yaml
Due: none

Update appsettings.json
  src/Application/DevOps.App/appsettings.json
Due: pipelines/package-app.yml

-added containerized arm template example
  .gitignore
  deploy/api-containerized.json
  deploy/api-containerized.parameters.json
  pipelines/deploy-pipeline.yaml
Due: Pipelines/package-pipeline.yaml, pipelines/package-pipeline.yaml

corrected resouce group name
  deploy/variables/apps/app-shared.yaml
Due: Pipelines/package-pipeline.yaml, pipelines/package-pipeline.yaml

- adapted for linux
  deploy/azure-infrastructure.json
Due: Pipelines/package-pipeline.yaml, pipelines/package-pipeline.yaml

upgraded apiVersion arm template api
  deploy/azure-infrastructure.json
  deploy/variables/api.json
  deploy/variables/api.parameters.json
Due: Pipelines/package-pipeline.yaml, pipelines/package-pipeline.yaml

updated api arm template: -added param for linuxFxVersion -"httpsOnly": true
  deploy/variables/api.json
Due: Pipelines/package-pipeline.yaml, pipelines/package-pipeline.yaml

- added arm template samples
  .gitignore
  arm-templates-samples/infra-apim-consumption.json
  arm-templates-samples/infra-apim-consumption.parameters.json
  arm-templates-samples/infra-apim.json
  arm-templates-samples/infra-apim.parameters.json
  arm-templates-samples/infra-applicationInsights.json
  arm-templates-samples/infra-applicationInsights.parameters.json
  arm-templates-samples/infra-containerRegistry.json
  arm-templates-samples/infra-containerRegistry.parameters.json
  arm-templates-samples/infra-cosmosDb-database.json
  arm-templates-samples/infra-cosmosDb-database.parameters.json
  arm-templates-samples/infra-cosmosDb.json
  arm-templates-samples/infra-cosmosDb.parameters.json
  arm-templates-samples/infra-datafactory.json
  arm-templates-samples/infra-datafactory.parameters.json
  arm-templates-samples/infra-datalake.json
  arm-templates-samples/infra-datalake.parameters.json
  arm-templates-samples/infra-integrationAccount.json
  arm-templates-samples/infra-integrationAccount.parameters.json
  arm-templates-samples/infra-keyVault.json
  arm-templates-samples/infra-keyVault.parameters.json
  arm-templates-samples/infra-monitoring-actionGroup.json
  arm-templates-samples/infra-monitoring-actionGroup.parameters.json
  arm-templates-samples/infra-monitoring-alerts-logicApp.json
  arm-templates-samples/infra-monitoring-alerts-logicApp.parameters.json
  arm-templates-samples/infra-oms.json
  arm-templates-samples/infra-oms.parameters.json
  arm-templates-samples/infra-onPremiseDataGateway-vmName.json
  arm-templates-samples/infra-onPremiseDataGateway-vmName.parameters.json
  arm-templates-samples/infra-servicebus-topic-subscription.json
  arm-templates-samples/infra-servicebus-topic-subscription.parameters.json
  arm-templates-samples/infra-sql-database-transco.json
  arm-templates-samples/infra-sql-database-transco.parameters.json
  arm-templates-samples/infra-sql-server.json
  arm-templates-samples/infra-sql-server.parameters.json
  arm-templates-samples/infra-storageAccount.json
  arm-templates-samples/infra-storageAccount.parameters.json
  deploy/azure-infrastructure.json
Due: Pipelines/package-pipeline.yaml, pipelines/package-pipeline.yaml

-updated shared app vars
  Pipelines/variables/apps/app-shared.yaml
Due: none

lab solution example
  .gitignore
  pipelines/variables/apps/app-shared.yaml
Due: none
